{% extends base_template %}
{% block title %}Error {{ status }} ({{ status_text }}){% endblock %}

{% block page_body %}

{% if settings.DEBUG %}
<div id="error-debug-{{ status }}" class="server-exception ui-state-error">
<h2>ERROR {{status }}</h2>
<h3>path: {{ request.path }}</h3>
<br>
{{ stack_trace }}
</div>{% else %}{% block error_body %}
<div id="error-{{ status }}" class="server-exception ui-state-error">
<p>Whoops! Server error. Something did not quite work right, sorry.</p>
</div>{% endblock %}{% endif %}
{% endblock %}