*.pyc
__pycache__
djpcms.egg-info/*
*.egg
htmlcov
htmlprof
dist/*
docs/build/*
MANIFEST
.project
.coverage
.pydevproject
.settings/*
examples/runfab.py
examples/djpsite/settings.py
examples/djpsite/logs
node_modules
