*.pyc
__pycache__
djpcms.egg-info/*
*.egg
dist/*
docs/build/*
MANIFEST
.project
.coverage
.pydevproject
.settings/*
examples/runfab.py
examples/sitedjpcms/settings.py
examples/logs
examples/sitedjpcms/sitedjpcms.sqlite
