include CHANGELOG.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include runtests.py
include requirements.txt
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
include examples/djpcms-site/README.rst
include examples/djpcms-site/requirements.txt
include examples/vinoweb/README.rst
include examples/vinoweb/requirements.txt
include djpcms/contrib/jdep/tests/requirements.txt
include djpcms/libs/jinja2_3/LICENSE
include djpcms/libs/jinja2/LICENSE
include djpcms/dispatch/LICENSE
recursive-include docs/source/_ext *
recursive-include docs/source *.txt
recursive-include tests *
recursive-include djpcms/templates *
recursive-include djpcms/tests/templates *
recursive-include djpcms/media *
recursive-include djpcms/fixtures *
recursive-include djpcms/contrib/compressor/templates *
recursive-include djpcms/contrib/jdep/templates *
recursive-include djpcms/contrib/flowrepo/templates *
recursive-include djpcms/contrib/flowrepo/media *
recursive-include djpcms/contrib/social/templates *
recursive-include djpcms/contrib/social/media *
recursive-include examples *.py
recursive-include examples/sitedjpcms/templates *
recursive-include examples/sitedjpcms/media *
recursive-include examples/sitedjpcms/examples/issuetraker/templates *
recursive-include examples/sitedjpcms/examples/issuetraker/media *
recursive-include examples/sitedjpcms/examples/vinoweb/templates *
recursive-include examples/sitedjpcms/examples/vinoweb/media *