/*
------------------------------------------------------------------
------------------------------------------------------------------
Created by style  2012-03-16 07:22:33.702763
------------------------------------------------------------------
------------------------------------------------------------------ */

body {
    font-size: 14px;
    color: #222222;
    text-align: left;
    background: #ffffff;
    min-width: 960px;
    line-height: 18px;
    font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}

a:link {
    weight: normal;
    color: #0088cc;
    text-decoration: none;
}

a:link a:hover {
    color: #005580;
    text-decoration: none;
}

.row_12 {
    margin-left: 20px;
    *zoom: 1;
}

.row_12:before,
.row_12:after {
    content: "";
    display: table;
}

.row_12:after {
    clear: both;
}

.row_12 > .span1 {
    width: 60px;
}

.row_12 > .span2 {
    width: 140px;
}

.row_12 > .span3 {
    width: 220px;
}

.row_12 > .span4 {
    width: 300px;
}

.row_12 > .span5 {
    width: 380px;
}

.row_12 > .span6 {
    width: 460px;
}

.row_12 > .span7 {
    width: 540px;
}

.row_12 > .span8 {
    width: 620px;
}

.row_12 > .span9 {
    width: 700px;
}

.row_12 > .span10 {
    width: 780px;
}

.row_12 > .span11 {
    width: 860px;
}

.row_12 > .span12 {
    width: 940px;
}

.row_12 > [class*="span"] {
    float: left;
    margin-left: 20px;
}

.grid-container {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
    *zoom: 1;
}

.grid-container:before,
.grid-container:after {
    content: "";
    display: table;
}

.grid-container:after {
    clear: both;
}

.row-fluid_12 {
    width: 100%;
    *zoom: 1;
}

.row-fluid_12:before,
.row-fluid_12:after {
    content: "";
    display: table;
}

.row-fluid_12:after {
    clear: both;
}

.row-fluid_12 > .span1 {
    width: 5.9829%;
}

.row-fluid_12 > .span2 {
    width: 14.5299%;
}

.row-fluid_12 > .span3 {
    width: 23.0769%;
}

.row-fluid_12 > .span4 {
    width: 31.6239%;
}

.row-fluid_12 > .span5 {
    width: 40.1709%;
}

.row-fluid_12 > .span6 {
    width: 48.7179%;
}

.row-fluid_12 > .span7 {
    width: 57.2649%;
}

.row-fluid_12 > .span8 {
    width: 65.8119%;
}

.row-fluid_12 > .span9 {
    width: 74.3589%;
}

.row-fluid_12 > .span10 {
    width: 82.9059%;
}

.row-fluid_12 > .span11 {
    width: 91.4529%;
}

.row-fluid_12 > .span12 {
    width: 99.9999%;
}

.row-fluid_12 > [class*="span"] {
    float: left;
    margin-left: 2.5641%;
}

.grid-container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

.grid-container-fluid:before,
.grid-container-fluid:after {
    content: "";
    display: table;
}

.grid-container-fluid:after {
    clear: both;
}

.djpcms-html-box {
}

.djpcms-html-box .collapsed > .bd {
    display: none;
}

.widget {
}

.widget .hd {
    overflow: hidden;
}

.widget .hd h1,
.widget .hd h2,
.widget .hd h3,
.widget .hd h4,
.widget .hd h5 {
    float: left;
    padding: 0;
    background: transparent;
    margin: 0;
}

.widget .bd {
    overflow: hidden;
    border: none;
}

.widget .ft {
    overflow: hidden;
    border: none;
}

.object-definition {
    overflow: hidden;
    margin: 5px 0 0;
}

.object-definition dl {
}

.object-definition dl:first-child {
    margin-top: 0;
}

.object-definition dl dt {
    width: 40%;
    float: left;
    margin: 0;
}

.object-definition dl dd {
    margin: 0;
}

.object-definition.w20 dl dt {
    width: 20%;
}

.object-definition.w40 dl dt {
    width: 40%;
}

.object-definition.w50 dl dt {
    width: 50%;
}

.row_12 {
    margin-left: 20px;
    *zoom: 1;
}

.row_12:before,
.row_12:after {
    content: "";
    display: table;
}

.row_12:after {
    clear: both;
}

.row_12 > .span1 {
    width: 60px;
}

.row_12 > .span2 {
    width: 140px;
}

.row_12 > .span3 {
    width: 220px;
}

.row_12 > .span4 {
    width: 300px;
}

.row_12 > .span5 {
    width: 380px;
}

.row_12 > .span6 {
    width: 460px;
}

.row_12 > .span7 {
    width: 540px;
}

.row_12 > .span8 {
    width: 620px;
}

.row_12 > .span9 {
    width: 700px;
}

.row_12 > .span10 {
    width: 780px;
}

.row_12 > .span11 {
    width: 860px;
}

.row_12 > .span12 {
    width: 940px;
}

.row_12 > [class*="span"] {
    float: left;
    margin-left: 20px;
}

.grid-container {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
    *zoom: 1;
}

.grid-container:before,
.grid-container:after {
    content: "";
    display: table;
}

.grid-container:after {
    clear: both;
}

.row-fluid_12 {
    width: 100%;
    *zoom: 1;
}

.row-fluid_12:before,
.row-fluid_12:after {
    content: "";
    display: table;
}

.row-fluid_12:after {
    clear: both;
}

.row-fluid_12 > .span1 {
    width: 5.9829%;
}

.row-fluid_12 > .span2 {
    width: 14.5299%;
}

.row-fluid_12 > .span3 {
    width: 23.0769%;
}

.row-fluid_12 > .span4 {
    width: 31.6239%;
}

.row-fluid_12 > .span5 {
    width: 40.1709%;
}

.row-fluid_12 > .span6 {
    width: 48.7179%;
}

.row-fluid_12 > .span7 {
    width: 57.2649%;
}

.row-fluid_12 > .span8 {
    width: 65.8119%;
}

.row-fluid_12 > .span9 {
    width: 74.3589%;
}

.row-fluid_12 > .span10 {
    width: 82.9059%;
}

.row-fluid_12 > .span11 {
    width: 91.4529%;
}

.row-fluid_12 > .span12 {
    width: 99.9999%;
}

.row-fluid_12 > [class*="span"] {
    float: left;
    margin-left: 2.5641%;
}

.grid-container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

.grid-container-fluid:before,
.grid-container-fluid:after {
    content: "";
    display: table;
}

.grid-container-fluid:after {
    clear: both;
}