/*
------------------------------------------------------------------
------------------------------------------------------------------
Created by style  2012-04-04 17:40:06.399000
------------------------------------------------------------------
------------------------------------------------------------------ */

body {
    font-size: 14px;
    color: #222222;
    text-align: left;
    background: #ffffff;
    min-width: 960px;
    line-height: 18px;
    font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}
