{% if is_hidden %}{{ widget }}{% else %}
<div class="ctrlHolder{% if error %} error{% endif %}{% if field.field.required %} required{% endif %}">
	<div id="{{ field.errors_id }}">{{ errors }}
    </div>{% if ischeckbox %}
    <p class="label"></p>
    <div class="field-widget">
    <label for="{{ field.id }}">
     {{ widget }}{% if label %}
      {{ label }}{% endif %}
    </label>
    </div>{% else %}{% if label %}
    <label for="{{ field.id }}" class="label">
      {{ label }}
    </label>{% endif %}
    <div class="field-widget input">
      {{ widget }}
    </div>{% if field.help_text %}
    <p id="hint_{{ field.id }}" class="formHint">{{ field.help_text }}</p>{% endif %}
    {% endif %}
</div>
{% endif %}