{% if field.is_hidden %}{{ field }}{% else %}
<div class="ctrlHolder{% if error %} error{% endif %}{% if field.field.required %} {{ required }}{% endif %}">
	<div id="{{ field.errors_id }}">{{ errors }}
    </div>{% if ischeckbox %}
    <p class="label"></p>
    <label for="{{ field.id }}">
     {{ widget }}{% if label %}
      {{ label }}{% endif %}
    </label>{% else %}{% if label %}
    <label for="{{ field.id }}">
      {{ label }}
    </label>{% endif %}
      {{ widget }}{% if field.help_text %}
    <p id="hint_{{ field.auto_id }}" class="formHint">{{ field.help_text }}</p>{% endif %}{% endif %}
</div>
{% endif %}