{# BATTERY INCLUDED SIMPLE TEMPLATE FOR QUICK DEVELOPMENT #}
{# YOU NEED TO DEFINE YOUR root.html TEMPLATE TO USE THIS #}
{% extends "root.html" %}{% load djpcmstags %}

{% block html-container %}{% if not is_popup %}
<div id="page-header">
<div id="site-header" {% block site-header-class %} class="{{ grid.container_class }}"{% endblock %}>
{% block site-header %}{% endblock %}</div>
</div>{% endif %}

<div id="page-body">
 <div id="site-body"{% block site-body-class %} class="{{ grid.container_class }}"{% endblock %}>{% block page-prebody %}
   <div class="{{ grid.column1 }}">{% block breadcrumbs %}{% if page.level %}
    {% include "djpcms/bits/breadcrumbs.html" %}{% else %}{% if djp.title %}
    <div class="breadcrumbs">
    {{ djp.title }}
    </div>{% endif %}{% endif %}{% endblock %}
   </div>{{ grid.clear }}{% endblock %}{% block page-messages %}
    <div id="page-messages" class="{{ grid.column1 }}">{% if messages %}
     <ul class="messagelist">{% for message in messages %}
     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}</ul>{% endif %}
    </div>{{ grid.clear }}{% endblock %}{% if editing_panel %}
   <div class="edit-block {{ grid.column1 }}">
   {{ editing_panel }}
   </div>
   {{ grid.clear }}{% endif %}
   <div id="content">{% block page-body %}
   {{ inner }}{% endblock %}
   </div>
   {% block page-postbody %}{% endblock %}
 </div>
</div>
 
<div id="page-footer">
<div id="site-footer" {% block site-footer-class %} class="{{ grid.container_class }}"{% endblock %}>
{% block site-footer %}{% endblock %}</div>
</div>{% endblock %}






