{# BATTERY INCLUDED BODY TEMPLATE FOR QUICK DEVELOPMENT #}
<div id='body-container'>{% block top_bar %}{% if topbar %}
{{ topbar }}{% endif %}{% endblock %}
<div id="page-header">{% block page_header %}
 <div class="{{ grid.container_class }}">{% block page_header_grid960 %}
 {% endblock %}
 </div>{% endblock %}
</div>

<div id="page-body">{% block page_body %}{% block breadcrumbs %}{% if breadcrumbs %}
 <div class="{{ grid.container_class }}">
  <div class="{{ grid.column1 }}">
  {{ breadcrumbs }}
  </div>{{ grid.clear }}
 </div>{% endif %}{% endblock %}{% block page_messages %}{% if messages %}
 <div class="{{ grid.container_class }}"> 
  <div class="{{ grid.column1 }}">{% for message in messages %}
   {{ message }}{% endfor %}
  </div>{{ grid.clear }}
 </div>{% endif %}{% endblock %}
 <div class="{{ grid.container_class }}">{% block page_body_grid960 %}
  {{ inner }}{% endblock %}
 </div>{% endblock %}
</div>
 
<div id="page-footer">{% block page_footer %}
 <div class="{{ grid.container_class }}">{% block page_footer_grid960 %}
 {% endblock %}
 </div>{% endblock %}
</div>
</div>