{# BATTERY INCLUDED SIMPLE TEMPLATE FOR QUICK DEVELOPMENT #}
{# YOU NEED TO DEFINE YOUR root.html TEMPLATE TO USE THIS #}
{% extends "root.html" %}{% block html_container %}{% if not is_popup %}
<div id="page-header">{% block site_pre_header %}{% endblock %}
<div id="site-header"{% block site_header_class %} class="{{ grid.container_class }}"{% endblock %}>
{% block site_header %}{% endblock %}</div>
</div>{% endif %}

<div id="page-body">
 <div id="site-body"{% block site_body_class %} class="{{ grid.container_class }}"{% endblock %}>{% block page_prebody %}
   <div class="{{ grid.column1 }}">{% block breadcrumbs %}{% if breadcrumbs %}
     {{ breadcrumbs }}{% else %}{% if title %}
     <div class="breadcrumbs">
     {{ title }}
     </div>{% endif %}{% endif %}{% endblock %}
   </div>{{ grid.clear }}{% endblock %}{% if messages %}{% block page_messages %}
    <div id="page-messages" class="{{ grid.column1 }}">{% for message in messages %}
     {{ message }}{% endfor %}
    </div>{{ grid.clear }}{% endblock %}{% endif %}
   <div id="content">{% block page_body %}
   {{ inner }}{% endblock %}
   </div>
   {% block page_postbody %}{% endblock %}
 </div>
</div>
 
<div id="page-footer">
 <div id="site-footer"{% block site_footer_class %} class="{{ grid.container_class }}"{% endblock %}>
 {% block site_footer %}{% endblock %}
 </div>
</div>{% endblock %}






