{% extends "djpcms/pagination.html" %}
{% block pagination_class %} class="table-pagination ui-widget"{% endblock %}
{% block header_class %} ui-widget-header{% endblock %}
{% block pagination_body %}{% if toolbox %}
<div class="toolbox ui-widget-header">{% if toolbox.actions %}
 <div class='row-selector'>
  <span class="selectors">
   Select: <a class="select_all" href="#">All</a>, <a class="select_none" href="#">None</a>
  </span>
  {{ toolbox.actions }}
 </div>{% endif %}{% if toolbox.links %}
  <div class="toolbar-menu">
  <span class="links">{% for link in toolbox.links %}
   {{ link }}{% endfor %}
  </span>
 </div>{% endif %}{% if toolbox.columnviews %}
 <div class='column-selector'>
  <span class="selectors">
   Select views
  </span>  
  {{ toolbox.columnviews }}
 </div>{% endif %}
</div>
<table>{% else %}
<table class="ui-widget">{% endif %}{% if headers %}
<thead class="ui-widget-header">
 <tr>{% for head in headers %}
  {{ head }}{% endfor %}
 </tr>
</thead>{% endif %}
<tbody class="ui-widget-content">{% for item in items %}
 <tr{% if item.id %} id="{{ item.id }}"{% endif %}>{% for val in item.display %}
   <td class="{{ val.name }}">{{ val.value }}</td>{% endfor %}
 </tr>{% endfor %}
</tbody>
</table>{% endblock %}