{% extends "djpcms/pagination.html" %}
{% block pagination_class %} class="table-pagination ui-widget"{% endblock %}
{% block header_class %} ui-widget-header{% endblock %}
{% block pagination_body %}
<table class="ui-widget">{% if headers %}
<thead class="ui-widget-header">
 <tr>{% for head in headers %}
  {{ head }}{% endfor %}
 </tr>
</thead>{% endif %}
<tbody class="ui-widget-content">{% for item in items %}
 <tr{% if item.id %} id="{{ item.id }}"{% endif %}>{% for val in item.display %}
   <td class="{{ val.name }}">{{ val.value }}</td>{% endfor %}
 </tr>{% endfor %}
</tbody>
<tfoot class="ui-widget-header">
 <tr>{% for head in headers %}
  {{ head }}{% endfor %}
 </tr>
</tfoot>
</table>{% endblock %}