<div id = "{% block id %}{{ mapper.module_name }}-{{ item.id }}{% endblock %}" class="object-list-item {{ mapper.module_name }}">
 <div class="summary">{% if action %}
  <div class="action-box">
  {{ action }}
  </div>{% endif %}
  <div class="meta">{% block meta %}
   {{ item }}
   {% if editurl %}<a href="{{ editurl }}" title="edit">edit</a>{% endif %}{% if deleteurl %}
   <a href="{{ deleteurl }}" title="remove {{ item }}">delete</a>{% endif %}{% endblock %}
  </div>
 </div>
 <div class="detail">{% block detail %}{% endblock %}</div>
</div>
