<div{% block pagination_class %} class="pagination"{% endblock %}>{% if paginator %}
{% if paginator.total %}{% if paginator.multiple %}
<div id="{% if id %}{{ id }}{% else %}Pagination{% endif %}" class="jquery-pagination{% block header_class %}{% endblock %}">
 <div class='navigator'></div>
 <div class='information'></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    // Create pagination element with options from form
    var optInit = {
    		items_per_page: {{ paginator.per_page }},
    		current_page: {{ paginator.page }} - 1,
    		num_edge_entries: {{ paginator.numends }}, 
    		callback: function(current_page, elem) {
    			  var cp  = current_page + 1;
    			  var data = "{{ paginator.datadict }}";
    			  var url = "{{ url }}?page=" + cp;
    			  if(data) {
        			  url += "&" + data;
    			  }
    			  window.location = url;
    		}
    };
    $("#{% if id %}{{ id }}{% else %}Pagination{% endif %}").pagination({{ paginator.total }}, optInit);
});
</script>{% endif %}{% else %}
<div class="information">No entries</div>{% endif %}{% endif %}{% block pagination_body %}{% for item in items %}
{{ item }}{% endfor %}{% endblock %}
</div>