{% block doctype_html %}{{ htmldoc.html }}{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% if title %}{{ title }} - {% endif %}{% block sitetitle %}{% endblock %}{% endblock %}</title>
<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->{% block meta_content %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />{% endblock %}{% block meta_language %}
<meta http-equiv="Content-Language" content="en-uk" />{% endblock %}
{% block blockbots %}{%if robots %}<meta name="ROBOTS" content="{{ robots }}" />{% endif %}{% endblock %}
{% block blockkeywords %}<meta name="keywords" content="{% block site_keywords %}{% endblock %}"/>{% endblock %}
{% block blockdescriptions %}<meta name="description" content="{% block site_description %}{% endblock %}"/>{% endblock %}{% if page %}{% for head in page.additional_head %}
{{ head|safe }}{% endfor %}{% endif %}
<!--  STYLING -->{% block style_reset %}
{% include "djpcms/bits/reset.html" %}{% endblock %}{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/jquery-autocomplete/jquery.autocomplete.css"/>{% if media %}{% for css in media.render_css %}
{{ css|safe }}{% endfor %}{% endif %}{% endblock %}
<style type="text/css">{% block body_extra_style %}{% endblock %}
</style>
<!-- END OF STYLING -->
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/modernizr-1.6.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery-1.5.min.js"></script>
{% block extra_head %}{% endblock %}
</head>

<body{% block bodybits %}{% if bodybits %} {{ bodybits }}{% endif %}{% endblock %}>{% block pre_body %}{% if prebody %}
<!-- PRE-BODY SCRIPTS -->
{{ prebody }}{% endif %}{% endblock %}

<!-- BODY CONTAINER -->
<div{% block body_container_id %} id="body-container"{% endblock %}{% block body_container_bits %} class="{% if grid.fixed %}_fixed{% else %}_float{% endif %}"{% endblock %}>
{% block html_container %}{% endblock %}
</div>
<!-- END OF BODY CONTAINER -->

<!-- START OF END-BODY SCRIPTS -->{% block end_page_scripts %}{% if debug %}
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery-ui-1.8.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery-autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.pagination.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/tablesorter/jquery.tablesorter.js"></script>{% else %}
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery-ui-1.8.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery-autocomplete/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.pagination.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/tablesorter/jquery.tablesorter.js"></script>{% endif %}{% endblock %}{% block decorator_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/djpcms.js"></script>{% endblock %}{% if media %}{% for js in media.render_js %}
{{ js }}{% endfor %}{% endif %}{% block body_scripts %}
<script type="text/javascript">
(function($) {
  $(document).ready(function() {
	var options = {{ css.tojson }};
	options.media_url = "{{ MEDIA_URL }}";
	options.debug     = {{ jsdebug }};
	$.djpcms.set_options(options);
	$(document).djpcms();{% block body_extra_scripts %}{% endblock %}
	});
})(jQuery);
</script>{% endblock %}
<!-- END OF END-BODY SCRIPTS -->
{% block ads_scripts %}{% endblock %}
{% if release %}
{% block analytics_scripts %}{% endblock %}{% endif %} 
</body>
</html>