{% block doctype_html %}{{ htmldoc.html }}{% endblock %}
<head>
{{ htmldoc.meta }}
{% block blockbots %}{%if robots %}<meta name="ROBOTS" content="{{ robots }}" />{% endif %}{% endblock %}
{% block blockkeywords %}<meta name="keywords" content="{% block site_keywords %}{% endblock %}"/>{% endblock %}
{% block blockdescriptions %}<meta name="description" content="{% block site_description %}{% endblock %}"/>{% endblock %}
<title>{% block title %}{% if title %}{{ title }} - {% endif %}{% block sitetitle %}{% endblock %}{% endblock %}</title>
{% if pagelink %}{% if pagelink.page %}{% for head in pagelink.page.additional_head %}
{{ head }}{% endfor %}{% endif %}{% endif %}
<!--  STYLING -->
{% include "djpcms/gridcss.html" %}
{% block extra_style %}{% endblock %}{% block head_style %}{% if media %}
{% for css in media.render_css %}
{{ css }}{% endfor %}{% endif %}{% endblock %}
<!-- END OF STYLING -->
</head>

<body{% block bodybits %}{% endblock %}>{% block pre_body %}{% if prebody %}
<!-- PRE-BODY SCRIPTS -->
{{ prebody }}{% endif %}{% endblock %}

<!-- BODY CONTAINER -->
<div{% block body_container_id %} id="body-container"{% endblock %}{% block body_container_bits %} class="{% if grid.fixed %}_fixed{% else %}_float{% endif %}"{% endblock %}>
{% block html_container %}{% endblock %}
</div>
<!-- END OF BODY CONTAINER -->

{% if media %}<!-- START OF SCRIPTS -->
{{ media.all_js }}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        var options = {{ settings.HTML.tojson }};
        options.media_url = "{{ MEDIA_URL }}";
        options.debug     = {% if debug %}true{% else %}false{% endif %};
        $.djpcms.set_options(options);
        $(document).djpcms().trigger('djpcms-loaded');
    });
}(jQuery));
</script>
<!-- END OF END-BODY SCRIPTS -->{% endif %}
{% block ads_scripts %}{% endblock %}
{% if release %}
{% block analytics_scripts %}{% endblock %}{% endif %} 
</body>
</html>
