{% block doctype_html %}{{ htmldoc.html }}{% endblock %}
<head>
{{ htmldoc.meta }}
{% block blockbots %}{%if robots %}<meta name="ROBOTS" content="{{ robots }}" />{% endif %}{% endblock %}
{% block blockkeywords %}<meta name="keywords" content="{% block site_keywords %}{% endblock %}"/>{% endblock %}
{% block blockdescriptions %}<meta name="description" content="{% block site_description %}{% endblock %}"/>{% endblock %}
<title>{% block title %}{% if title %}{{ title }} - {% endif %}{% block sitetitle %}{% endblock %}{% endblock %}</title>
<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->{% if pagelink.page %}{% for head in pagelink.page.additional_head %}
{{ head }}{% endfor %}{% endif %}{% block head_content %}
<!--  STYLING -->{% block style_reset %}
{% include "djpcms/bits/reset.html" %}{% endblock %}{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djpcms/jquery-autocomplete/jquery.autocomplete.css"/>{% if media %}{% for css in media.render_css %}
{{ css }}{% endfor %}{% endif %}{% endblock %}
<style type="text/css">{% block body_extra_style %}{% endblock %}
</style>
<!-- END OF STYLING -->
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/modernizr-1.6.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.min.js"></script>
{% block extra_head %}{% endblock %}{% endblock %}
</head>

<body{% block bodybits %}{% endblock %}>{% block pre_body %}{% if prebody %}
<!-- PRE-BODY SCRIPTS -->
{{ prebody }}{% endif %}{% endblock %}

<!-- BODY CONTAINER -->
<div{% block body_container_id %} id="body-container"{% endblock %}{% block body_container_bits %} class="{% if grid.fixed %}_fixed{% else %}_float{% endif %}"{% endblock %}>
{% block html_container %}{% endblock %}
</div>
<!-- END OF BODY CONTAINER -->

{% block body_scripts %}<!-- START OF END-BODY SCRIPTS -->{% block defaults_body_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery-ui-1.8.11.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.pagination.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/jquery.tablesorter.js"></script>
{% endblock %}{% block decorator_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}djpcms/djpcms.js"></script>
{% if media %}{% for js in media.render_js %}
{{ js }}{% endfor %}{% endif %}{% block body_onready_scripts %}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        var options = {{ css.tojson }};
        options.media_url = "{{ MEDIA_URL }}";
        options.debug     = {{ jsdebug }};
        $.djpcms.set_options(options);
        $(document).djpcms();
    });
}(jQuery));
</script>{% endblock %}{% endblock %}
<!-- END OF END-BODY SCRIPTS -->{% endblock %}
{% block ads_scripts %}{% endblock %}
{% if release %}
{% block analytics_scripts %}{% endblock %}{% endif %} 
</body>
</html>