{% extends "djpcms/pagination.html" %}
{% block pagination_class %} class="table-pagination ui-widget"{% endblock %}
{% block header_class %} ui-widget-header{% endblock %}
{% block pagination_body %}{% if toolbox %}
<div class="toolbox ui-widget-header">{% if toolbox.actions %}
 <span class="selectors">
  Select: <a class="select_all" href="#">All</a>, <a class="select_none" href="#">None</a>
 </span>
 {{ toolbox.actions }}{% endif %}{% if toolbox.links %}
<span class="links">{% for link in toolbox.links %} 
 {{ link }}{% endfor %}
</span>{% endif %}
</div>
<table class="tablesorter">{% else %}
<table class="tablesorter ui-widget">{% endif %}{% if labels %}
<thead class="ui-widget-header">
 <tr>{% for label in labels %}
  <th>{{ label }}</th>{% endfor %}
 </tr>
</thead>{% endif %}
<tbody class="ui-widget-content">{% for item in items %}
 <tr{% if item.id %} id="{{ item.id }}"{% endif %}>{% for val in item.display %}
   <td>{{ val }}</td>{% endfor %}
 </tr>{% endfor %}
</tbody>
</table>{% endblock %}