/*
------------------------------------------------------------------
------------------------------------------------------------------
Created by pycss  2012-03-02 16:58:11.470000
------------------------------------------------------------------
------------------------------------------------------------------ */

body {
    font-size: 14;
    color: #222222;
    min-width: 960px;
    background: #ffffff;
    font-family: Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
    line-height: 18px;
    text-align: left;
}

.row_12 {
    *zoom: 1;
    margin-left: 20px;
}

.row_12:before,
.row_12:after {
    content: "";
    display: table;
}

.row_12:after {
    clear: both;
}

.row_12 > .span1 {
    width: 60px;
}

.row_12 > .span2 {
    width: 140px;
}

.row_12 > .span3 {
    width: 220px;
}

.row_12 > .span4 {
    width: 300px;
}

.row_12 > .span5 {
    width: 380px;
}

.row_12 > .span6 {
    width: 460px;
}

.row_12 > .span7 {
    width: 540px;
}

.row_12 > .span8 {
    width: 620px;
}

.row_12 > .span9 {
    width: 700px;
}

.row_12 > .span10 {
    width: 780px;
}

.row_12 > .span11 {
    width: 860px;
}

.row_12 > .span12 {
    width: 940px;
}

.row_12 > [class*="span"] {
    float: left;
    margin-left: 20px;
}

.row-fluid_12 {
    width: 100%;
    *zoom: 1;
}

.row-fluid_12:before,
.row-fluid_12:after {
    content: "";
    display: table;
}

.row-fluid_12:after {
    clear: both;
}

.row-fluid_12 > .span1 {
    width: 5.9829%;
}

.row-fluid_12 > .span2 {
    width: 14.5299%;
}

.row-fluid_12 > .span3 {
    width: 23.0769%;
}

.row-fluid_12 > .span4 {
    width: 31.6239%;
}

.row-fluid_12 > .span5 {
    width: 40.1709%;
}

.row-fluid_12 > .span6 {
    width: 48.7179%;
}

.row-fluid_12 > .span7 {
    width: 57.2649%;
}

.row-fluid_12 > .span8 {
    width: 65.8119%;
}

.row-fluid_12 > .span9 {
    width: 74.3589%;
}

.row-fluid_12 > .span10 {
    width: 82.9059%;
}

.row-fluid_12 > .span11 {
    width: 91.4529%;
}

.row-fluid_12 > .span12 {
    width: 99.9999%;
}

.row-fluid_12 > [class*="span"] {
    float: left;
    margin-left: 2.5641%;
}

.collapsed > .bd {
    display: none;
}

.djpcms-html-box {
}

.hd {
    padding: 6px 5px;
    overflow: hidden;
}

.hd h1,
.hd h2,
.hd h3,
.hd h4,
.hd h5 {
    font-size: 110%;
    float: left;
    padding: 0;
    background: transparent;
    font-weight: bold;
    margin: 0;
}

.bd {
    padding: 5px 5px;
    overflow: hidden;
    border: none;
}

.ft {
    padding: 5px 5px;
    overflow: hidden;
    border: none;
}

.widget {
}

